<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MineNoter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>774075761DC4F6D800AB679F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7740758C1DC4F6D900AB679F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>774075971DC4F6D900AB679F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
